body {
  height: 100vh;
  margin: 0;
  background-color: #ffff00;
}

#kontti {
  width: 50%;
  height: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 3fr;
  row-gap: 2em;
}

#ylakolumni {
  border: 1px solid #000;
  background-color: #ff0000;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.5fr;
  grid-template-rows: repeat(4, 1fr);
  column-gap: 0.5em;
}

#kentta {
  grid-column: 2;
  grid-row: 3;
  padding: 0.5em;
}

#nappi {
  grid-column: 3;
  grid-row: 3;
  padding: 0.5em;
}

#alakolumni {
  grid-row: 2;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3em;
}

#alavasen {
  background-color: #ff0000;
  grid-column: 1;
}

#alaoikea {
  background-color: #ff0000;
  grid-column: 2;
  color: #fff;
}

#alavasen li {
  margin-top: 0.5em;
}

#alavasen li a,
#alaoikea a {
  font-size: 3vh;
}
/*
  luokka body-elementin taustavärille
  tausta on punainen kun elementille on asetettu luokka dynaamisesti
*/
.taustaON {
  background-color: #ff0000;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  cursor: pointer;
}

li {
  list-style-type: none;
}
